.settings-footer {
    text-align: center;
    color: var(--text-color);
    padding: 20px;
    font-size: 14px; 
    background-color: var(--background-color2);

}

.settings-footer p {
    text-shadow: 0 0 0.2px black;
    color: var(--text-color);
}
