.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    overflow-y: auto; /* Allows content to scroll */
    padding-top: 75px; /* Adjust this value based on your navbar's height */
    padding-bottom: 80px; /* Adjust this value based on your menubar's height */
}

/* Ensure navbar and menubar have a consistent height */
.navbarmain {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-nav {
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}