
.layout {
    width: 100%;
    display: flex; 
    flex-direction:column;
}
/* layouts */
nav {  
    background-color: #333;
    padding: 10px;
    width: 100%;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f0f0f0;
}

nav ul li a.active {
    color: #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

nav ul li a.active:hover {
    color: #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

 
 