 
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-color: #e5e5e573;
 }

 :root {
   --background: #ffffff;
   --borderradius: 15px;
   --fontSize: 17px;
   --padding: 25px;
   --fontSizeIcon: 25px;
 }
 .App {
  
 }