/* src/components/css_comp/logo.css */
.logo-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 206px;
}

.logo-shapes {
  width: 100%;
  aspect-ratio: 206 / 120;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
}

.logoShape {
  position: absolute;
  background: currentColor;
  transform: rotate(-31deg);
  width: calc(46 / 206 * 100%);
  height: calc(150 / 120 * 100%);
}

.logoS1 {
  top: calc(86 / 120 * 100%);
  left: calc(36 / 206 * 100%);
}

.logoS2 {
  top: calc(45 / 120 * 100%);
  left: calc(82 / 206 * 100%);
}

.logoS3 {
  top: calc(4 / 120 * 100%);
  left: calc(128 / 206 * 100%);
}

.logo-loader {
  width: 100%;
  max-width: 202px;
  height: 6px;
  border: 1px solid currentColor;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.logo-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: currentColor;
  animation: logo-load 5s infinite;
}

@keyframes logo-load {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
